alembic==1.7.7
appdirs==1.4.4
attrs==20.3.0
Automat==20.2.0
autopep8==1.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.0
constantly==15.1.0
cryptography==36.0.2
cssselect==1.1.0
distlib==0.3.1
filelock==3.0.12
Flask==2.1.0
Flask-Caching==1.10.1
Flask-Cors==3.0.10
Flask-JWT-Extended==4.3.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
gevent==21.12.0
greenlet==1.1.2
gunicorn==20.1.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.11.3
incremental==21.3.0
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==0.10.0
lxml==4.6.3
Mako==1.2.0
MarkupSafe==2.1.1
marshmallow==3.15.0
packaging==21.3
parsel==1.6.0
Protego==0.1.16
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
PyDispatcher==2.0.5
PyJWT==2.3.0
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==3.0.8
python-dotenv==0.20.0
pywatchman==1.4.1
queuelib==1.5.0
requests==2.27.1
service-identity==18.1.0
six==1.15.0
SQLAlchemy==1.4.34
toml==0.10.2
Twisted==21.2.0
urllib3==1.26.9
virtualenv==20.4.2
w3lib==1.22.0
Werkzeug==2.1.0
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.4.0
